streamlit>=1.32.0
folium>=0.16.0
streamlit-folium>=0.18.0
geopy>=2.4.1
Pillow>=10.2.0
fpdf2>=2.7.9
requests>=2.31.0
streamlit-geolocation>=0.0.10
streamlit-js-eval>=1.0.0
folium
fpdf2
geopy
Pillow
requests
streamlit
streamlit-folium
streamlit-geolocation
streamlit-js-eval
